<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Pensionator</title>
</head>
<body class="page-body" data-url="http://neon.dev">

<div class="page-container" th:fragment="prof"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->


<div class="row"> <!-- Profile Info and Notifications -->
    <div class="col-md-6 col-sm-8 clearfix">
        <ul class="user-info pull-left pull-none-xsm"> <!-- Profile Info -->
            <li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="http://demo.neontheme.com/assets/images/thumb-1@2x.png" alt="" class="img-circle" width="44" />
                    John McCutcheon <span sec:authentication=""></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-6 col-sm-4 clearfix hidden-xs">
        <ul class="list-inline links-list pull-right">
            <li>
                <form id="logout" action="#" th:action="@{/logout}" method="post" >
                    <button type="submit" class="btn btn-default">
                        Log Out <i class="entypo-logout right"></i>
                    </button>
                </form>
            </li>
        </ul>
    </div>


</div>
    <hr/>
</div>
</body>
</html>