<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pensionator</title>
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body class="page-body" data-url="http://neon.dev">

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <!--/*/ <th:block th:include="fragments/sidebar :: side"></th:block> /*/-->

    <div class="main-content">

        <!--/*/ <th:block th:include="fragments/profile :: prof"></th:block> /*/-->

        <h1 th:text="${calculation.client.firstName + ' ' + calculation.client.lastName}"></h1>
        <h3 th:text="${'Calculation: ' + #dates.format(calculation.date, 'dd MMMM yyyy')}"></h3>
        <br/>
        <div class="col-md-6">
            <a th:href="${'/clients/' + calculation.client.id + '/calculations/edit/' + calculation.id}" class="btn btn-default btn-icon">
                Edit
                <i class="entypo-pencil"></i>
            </a>
            <a th:href="${'/clients/' + calculation.client.id}" class="btn btn-default btn-icon">
                Back
                <i class="entypo-back"></i>
            </a>
            <h4>Assets</h4>
            <table th:if="${not #lists.isEmpty(calculation.assets)}" class="table table-striped">
                <thead>
                            <th>Asset Type</th>
                            <th>Description</th>
                            <th>Value</th>
                            </thead>
                            <tbody>
                            <tr th:each="asset : ${calculation.assets}">
                                <td th:text="${asset.assetType.name}"></td>
                                <td th:text="${asset.description}"></td>
                                <td>$<span th:text="${#numbers.formatDecimal(asset.value, 1, 'COMMA', 2, 'POINT')}"></span></td>
                            </tr>
                            <tr>
                                <td><strong>Total</strong></td>
                                <td></td>
                                <td>$<strong th:text="${#numbers.formatDecimal(calculation.totalAssets, 1, 'COMMA', 2, 'POINT')}"></strong></td>
                            </tr>
                            </tbody>
                        </table>

            <br/>
            <h4>Income Streams</h4>
                <table th:if="${not #lists.isEmpty(calculation.assets)}" class="table table-striped">
                    <thead>
                    <th>Income Stream Type</th>
                    <th>Description</th>
                    <th>Value</th>
                    </thead>
                    <tbody>
                    <tr th:each="incomeStream : ${calculation.incomeStreams}">
                        <td th:text="${incomeStream.incomeStreamType.name}"></td>
                        <td th:text="${incomeStream.description}"></td>
                        <td>$<span th:text="${#numbers.formatDecimal(incomeStream.value, 1, 'COMMA', 2, 'POINT')}"></span></td>
                    </tr>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td></td>
                        <td>$<strong th:text="${#numbers.formatDecimal(calculation.regularIncome, 1, 'COMMA', 2, 'POINT')}"></strong></td>
                    </tr>
                    </tbody>
                </table>
            <br/>
            <div th:if="${calculation.deemableAssets != 0}">
            <h4>Deemed Income</h4>
            <table class="table table-striped">
                <thead>
                <th>Amount</th>
                <th>Deeming Rate</th>
                <th>Deemed Income</th>
                </thead>
                <tbody>
                <tr th:each="deemedIncomeRow : ${calculation.deemedIncome.deemedIncomeRows}">
                    <td th:text="${'$' + #numbers.formatDecimal(deemedIncomeRow.deemableAmount, 1, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${deemedIncomeRow.deemingRate + '%'}"></td>
                    <td th:text="${'$' + #numbers.formatDecimal(deemedIncomeRow.deemedIncome, 1, 'COMMA', 2, 'POINT')}"></td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td></td>
                    <td><strong th:text="${'$' + #numbers.formatDecimal(calculation.deemedIncome.total, 1, 'COMMA', 2, 'POINT')}"></strong></td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="col-md-6">
        <h4>Payment under the Assets Test</h4>
        <table class="table">
            <tbody>
            <tr>
                <td>Maximum Payment</td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.assetsTestPayment.maximumPayment * 26, 1, 'COMMA', 2, 'POINT') + ' (per annum)'}"></td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.assetsTestPayment.maximumPayment, 1, 'COMMA', 2, 'POINT') + ' (per fortnight)'}"></td>
            </tr>
            <tr>
                <td>Assessable Assets</td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.assetsTestPayment.assessableAssets, 1, 'COMMA', 2, 'POINT')}"></td>
                <td></td>
            </tr>
            <tr>
                <td>Assets Test Threshold</td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.assetsTestPayment.threshold, 1, 'COMMA', 2, 'POINT')}"></td>
                <td></td>
            </tr>
            <tr>
                <td>Excess Assets</td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.assetsTestPayment.excessAssets, 1, 'COMMA', 2, 'POINT')}"></td>
                <td></td>
            </tr>
            <tr>
                <td>Benefit Reduction</td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.assetsTestPayment.paymentReduction * 26, 1, 'COMMA', 2, 'POINT') + ' (per annum)'}"></td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.assetsTestPayment.paymentReduction, 1, 'COMMA', 2, 'POINT') + ' (per fortnight)'}">></td>
            </tr>
            <tr>
                <td>Payment under Assets Test</td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.assetsTestPayment.payment * 26, 1, 'COMMA', 2, 'POINT') + ' (per annum)'}"></td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.assetsTestPayment.payment, 1, 'COMMA', 2, 'POINT') + ' (per fortnight)'}"></td>
            </tr>
            </tbody>
        </table>
            <br/>
        <h4>Payment under the Income Test</h4>
        <table class="table">
            <tbody>
            <tr>
                <td>Maximum Payment</td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.incomeTestPayment.maximumPayment * 26, 1, 'COMMA', 2, 'POINT') + ' (per annum)'}"></td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.incomeTestPayment.maximumPayment, 1, 'COMMA', 2, 'POINT') + ' (per fortnight)'}"></td>
            </tr>
            <tr>
                <td>Assessable income</td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.incomeTestPayment.assessableIncome, 1, 'COMMA', 2, 'POINT') + ' (per annum)'}"></td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.incomeTestPayment.assessableIncome / 26, 1, 'COMMA', 2, 'POINT') + ' (per fortnight)'}">></td>
            </tr>
            <tr>
                <td>Income Test Threshold</td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.incomeTestPayment.threshold * 26, 1, 'COMMA', 2, 'POINT') + ' (per annum)'}"></td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.incomeTestPayment.threshold, 1, 'COMMA', 2, 'POINT') + ' (per fortnight)'}"></td>
            </tr>
            <tr>
                <td>Excess Income</td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.incomeTestPayment.excessIncome * 26, 1, 'COMMA', 2, 'POINT') + ' (per annum)'}"></td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.incomeTestPayment.excessIncome, 1, 'COMMA', 2, 'POINT') + ' (per fortnight)'}"></td>
            </tr>
            <tr>
                <td>Benefit Reduction</td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.incomeTestPayment.paymentReduction, 1, 'COMMA', 2, 'POINT') + ' (per annum)'}"></td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.incomeTestPayment.paymentReduction / 26, 1, 'COMMA', 2, 'POINT') + ' (per fortnight)'}"></td>
            </tr>
            <tr>
                <td>Payment under Income Test</td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.incomeTestPayment.payment * 26, 1, 'COMMA', 2, 'POINT') + ' (per annum)'}"></td>
                <td th:text="${'$' + #numbers.formatDecimal(calculation.incomeTestPayment.payment, 1, 'COMMA', 2, 'POINT') + ' (per fortnight)'}"></td>
            </tr>
            </tbody>
        </table>
            <br/>
            <h4>Summary</h4>
            <table class="table">
                <tbody>
                <tr>
                    <td>Entitlement Under</td>
                    <td th:text="${calculation.applicableTest}"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Estimated Payment</td>
                    <td th:text="${'$' + #numbers.formatDecimal(calculation.payment * 26, 1, 'COMMA', 2, 'POINT') + ' (per annum)'}"></td>
                    <td th:text="${'$' + #numbers.formatDecimal(calculation.payment, 1, 'COMMA', 2, 'POINT') + ' (per fortnight)'}"></td>
                </tr>
                </tbody>
            </table>
        </div>





    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>


