<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pensionator</title>
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->

</head>
<body class="page-body" data-url="http://neon.dev">

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <!--/*/ <th:block th:include="fragments/sidebar :: side"></th:block> /*/-->

    <div class="main-content">

        <!--/*/ <th:block th:include="fragments/profile :: prof"></th:block> /*/-->

        <h1>Pensionator</h1>

    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->
</body>
</html>